/*ul.all-songs {
    padding: 0;
    list-style: none;
    .song {
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
        .song-title {
            font-size: 16px;
            background: white;
            border-radius: 5px;
            padding: 5px;
            &:hover {
                background-color: #eee;
            }
        }
    } 
}*/

.full-width-expanded-video {
    height: 100%;
    width: 100%;
    z-index: 1000;
    right: 0!important;
}

.full-width-expanded-video iframe {
    margin: 0px!important;
    width: 100%;
    height: 100%;
}

#playing-music {
    display: none; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    font-size: 20px;
    padding: 5px 0px;
}

#playing-music iframe {
    margin: 0px 5px;
}

#bottom_player {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    font-size: 20px;
    padding: 5px 0px;
    display: none;
}

#bottom_player i {
	padding-right: 10px;
}

#bottom_player a#compressButton, #bottom_player a#fullExpandButton, #bottom_player a#fullCompressButton {
    display: none;
}

#bottom_player a {
    display: inline-block;
    color: $medium;
}

#bottom_player a:hover, #bottom_player i:hover {
    color: $lite;
}

/*ul.all-songs li:nth-child(4n+1) .song {
    clear: left;
}*/

#GlobalPlayer {
    margin-bottom: 40px;
}

div#add-to-playlist {
    display: inline-block;
}

#time {
    display: inline-block;
    position: relative;
    top: 5px;
    span {
        float: left;
        width: initial;
    }
    input {
        float: left;
        width: 500px;
        margin: 0px 15px;
        margin-top: 4px;
    }
}

select#select-add-to-playlist {
    display: none;
    position: absolute;
    bottom: 38px;
}

/*#progressBar {
width: 960px;
height: 6px;
background-color: #444444;
margin-top: 1px;
}

#progressBar div {
height: 100%;
width: 0;
background-color: #ffffff;
}*/

#progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    cursor: pointer;
}